body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  color: #4caf50;
  margin-bottom: 30px;
}

.form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 3px;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 3px rgba(76, 175, 80, 0.3);
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a048;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f8f8f8;
}

td:last-child {
  text-align: center;
}

tr {
  background-color: #f8f8f8;
  transition: background-color 0.3s ease;
}

tr:hover {
  background-color: #ebebeb;
}

td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.actions {
  display: flex;
  gap: 5px;
  margin-top: 10%;
  padding-bottom: 16%;
}

.edit,
.delete {
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s ease;
}

.edit:hover,
.delete:hover {
  color: #0056b3;
}

.actions {
  display: flex;
  gap: 5px;
}

.edit,
.delete {
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s ease;
}

.edit:hover,
.delete:hover {
  color: #0056b3;
}

/* Decorative elements */
.container:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #4caf50;
  opacity: 0.1;
  z-index: -1;
}

.container:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4caf50;
  opacity: 0.1;
  z-index: -1;
}

.popup {
  background-color: #007bff;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
}

.popup label {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
  color: #45a048;
}



